/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 15, 2017, 4:33:30 AM
    Author     : OneZeroArt.Com / https://codecanyon.net/user/onezeroart/portfolio
*/
@font-face{
    font-family: farsi;
    src: url(../fonts/yekan.ttf);
}

body{
    font-family: 'farsi', serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'farsi', serif !important;
    color: #8d8d8d;
}

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.mRight10 {
    margin-right: 5px !important;
}

.mTop100{
    margin-top: 100px !important;
}

.mb-20{
    margin-bottom: 20px;
}

.noFloat{
    float: none;
}

.btmSmallSpace{
    padding-bottom: 25px;
}
.btmMediumSpace{
    padding-bottom: 50px;
}
.btmBigSpace{
    padding-bottom: 100px;
}

.img-60 {
    width: 60px;
    border-radius: 5%;
}

div#loading {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1000000;
    top: 35vh;
    left: 40%;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
    padding: 9px 23px;
}

#invoice .btn-primary {
    background-image: linear-gradient(45deg, #3781ff 100%, #5d57d4 70%);
    padding: 9px 23px;
    border:0px !important;
}

#invoice .btn-primary:hover {
    background-image: linear-gradient(45deg, #3781ff 100%, #5d57d4 70%);
    padding: 9px 23px;
    border:0px !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #4480ff;
}


.cke_top {
    border-bottom: 2px solid #e3e5f2 !important;
}

.cke_chrome {
    border: 2px solid #e3e5f2 !important;
}

/*Header Style*/

.customLogo{
    width: 110px;
    margin-right: 10px;
}

.main-header {
    border-bottom: 0px solid #e6e6e6;
    margin-left: 250px;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff !important;
    min-height: 60px;
    margin-left: 0;
    padding-left: 20px;
}

.skin-blue .main-header .logo {
    background-color: #039BE5 !important;
}

.content-wrapper {
    margin-left: 250px;
    min-height: 1200px !important;
}

.content-wrapper .box.box-widget .bg-primary {
    color: #fff !important;
    background-color: #ffffff;
    border-bottom: 2px solid #f4f4f4;
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
}

.skin-blue .wrapper, .skin-blue .left-side {
    background-color: #f5f5f5 !important;
}

.main-sidebar {
    background-color: #222d32 !important;
    padding-top: 10px;
    width: 250px;
    border-right: 0px solid #e6e6e6;
}

.user-panel {
    border-bottom: 1px solid #e6e6e6;
}

.user-panel .image {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.user-panel .image img {
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0 auto;
    float: none;
    display: block;
    padding: 10px 20px 0;
    border-radius: 5px !important;
}

.user-panel .info {
    color: #4b4b4b !important;
    margin: 0;
    padding: 15px 0 12px 0;
    float: left;
    width: 100%;
    position: relative;
    left: 0;
}

.user-panel .info p {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.btn-facebook {
    color: #fff;
    background-color: #4384ff;
    border-color: rgba(0,0,0,0.2);
    border: 0;
}

.btn-twitter {
    color: #fff;
    background-color: #4384ff;
    border-color: rgba(0,0,0,0.2);
    border: 0;
}

.btn-google {
    color: #fff;
    background-color: #4c87ff;
    border-color: rgba(0,0,0,0.2);
    border: 0;
}

.sidebar-menu.tree li.treeview, .sidebar-menu.tree li {
    padding: 0;
    border-bottom: 0px solid #f5f6f5;
}

.sidebar-menu.tree li.treeview a, .sidebar-menu.tree li a {
    color: #fff;
    padding: 18px 25px;
    border: 0 !important;
}

.sidebar-menu.tree li.treeview a .material-icons.md-18, .sidebar-menu.tree li a .material-icons.md-18 {
    font-size: 20px;
    margin-right: 10px;
    color: #3781ff;
}

.sidebar-menu.tree li.treeview a:hover, .sidebar-menu.tree li a:hover {
    color: #ffffff;
    /* background-color: #f0f0f0; */
    padding: 18px 25px;
    border: 0 !important;
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
}

.sidebar-menu.tree li.treeview a i:hover, .sidebar-menu.tree li a i:hover {
    color: #ffffff !important;
}

.sidebar-menu.tree li.treeview.menu-open a {
    color: #ffffff;
    border: 0;
    background: #f0f0f0;
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
}

.sidebar-menu.tree li.treeview.menu-open a i {
    color: #ffffff !important;
}

.sidebar-menu.tree li.treeview.menu-open ul {
    padding: 0;
    margin: 0 !important;
}

.sidebar-menu.tree li.treeview.menu-open ul li {
    border:0 !important;
}

.sidebar-menu.tree li.treeview.menu-open ul li a {
    padding: 18px 15px;
    border-top: 1px solid rgba(66, 112, 216, 0.6) !important;
    background: rgb(67, 128, 255);
}

.sidebar-menu li a .pull-right-container {
    right: 20px;
}


.nav-tabs-custom.homepage-counter .nav.nav-tabs{
    margin-bottom: 20px;
}
.nav-tabs-custom.homepage-counter .tab-content{
    padding: 0;
}

/******* POS System ***********/

.pos .main-header {
    margin-left: 0;
}

.pos .content-wrapper {
    margin-left: 0;
}

.pos .posCartTable tbody td.input-group {
    margin: 0;
}

.pos .posCartTable tbody input.form-control.text-center {
    width: 70px;
}

.pos .posCartTable tbody td.input-group span {
    float: left;
    margin: 10px 5px 0 5px;
    cursor: pointer;
}

.pos .actionBar button {
    width: 100%;
    height: 90px;
    text-align: center;
}

.pos a.addToCart {
    color: #333;
}

.pos .topActionBar {
    padding: 15px;
}




/******* Invoice ***********/
.payment-logo{
    width: 150px !important;
}

/*Stripe & Paypal Style*/

.payNowBtn{
    margin: 0 auto;
    display: block;
    float: none;
}

.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 2px 8px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin: 0 0 15px 0;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-form .form-row {
    margin: 15px 0;
}

p.text-muted.well.well-sm.no-shadow {
    background-color: #fdfdfd;
    padding: 10px;
    text-align: justify;
    font-size: 13px;
}

.invoice {
    float: left;
    width: 90%;
    padding: 35px;
}

/*New Sidebar Collapse*/
.sidebar-collapse .sidebar-menu.tree li.treeview a, .sidebar-collapse .sidebar-menu.tree li a {
    color: #596976;
    padding: 18px 11px;
    border-left: 0;
}

.skin-blue .main-header .navbar .nav li a:hover {
    color: #586876 !important;
    padding-top: 18px;
    font-family: 'farsi', serif !important;
    background-color: rgba(88, 104, 118, 0) !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview a span i.fa {
    display: none !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview a span {
    padding: 18px 10px !important;
    width: 300px !important;
    background-color: #596976;
    margin: 0 !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview a span:hover {
    padding: 18px 10px !important;
    width: 300px !important;
    background-color: #596976;
    margin: 0 !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview .treeview-menu {
    color: #b4b4b4;
    margin: 10px 0 0 0;
    padding: 0;
    width: 300px !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview .treeview-menu:hover {
    color: #b4b4b4;
    margin: 10px 0 0 0;
    padding: 0;
    width: 300px !important;
    border:0 !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview .treeview-menu li{
    border-bottom: 0px solid #f5f6f5;
}

/*.sidebar-collapse .sidebar-menu.tree li.treeview.menu-open ul {
    padding: 15px 0;
    margin: 0 !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview.menu-open ul li {
    border:0 !important;
}

.sidebar-collapse .sidebar-menu.tree li.treeview.menu-open ul li a {
    padding: 10px 15px;
    margin: 0 !important;
}*/

/*Navbar Styles*/
/************************/
.navbar-custom-menu {
    padding-right: 25px;
}

.navbar-custom-menu li.dropdown.open {
    background-color: #ccc;
}

.navbar-custom-menu ul.dropdown-menu {
    margin:0;
    padding: 0;
    border: 0;
}

.navbar-custom-menu ul.dropdown-menu li {
    padding: 0;
    font-size: 12px;
}

.navbar-custom-menu ul.dropdown-menu li a {
    border-bottom: 1px solid #ccc;
    padding: 15px 8px;
    font-size: 12px;
}

.navbar-custom-menu ul.dropdown-menu li a i {
    font-size: 20px;
    vertical-align: middle;
    margin-top: -1px;
}

.skin-blue .main-header .logo {
    background-color: #039BE5 !important;
    font-family: 'farsi', serif !important;
}

.skin-blue .main-header .navbar .nav li a {
    color: #277eff;
    padding-top: 18px;
    font-family: 'farsi', serif !important;
}

.skin-blue .main-header .navbar .nav.pos li a {
    color: #277eff;
    padding-top: 18px;
    font-family: 'farsi', serif !important;
    font-weight: bold;
    font-size: 2em;
}

.skin-blue .main-header .navbar .nav li a:hover {
    color: #d7d7d7;
    padding-top: 18px;
    font-family: 'farsi', serif !important;
    background-color: #586876;
}


/*.skin-blue .main-header .navbar .nav li a:hover {
    color: #b0b0b0;
    background-color: rgba(176, 176, 176, 0);
    padding-top: 18px;
    font-family: 'farsi', serif !important;
}*/


h4.company-title {
    float: left;
    padding: 6px 0 0 0;
    font-size: 22px;
    color: #277eff;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #4384ff;
    padding-top: 18px;
    display: none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #b0b0b0;
    background: rgba(0, 0, 0, 0);
}

.skin-blue .main-header .navbar .sidebar-toggle:before {
    display: none !important;
}

/*Global Counter Box*/
.counter-box {
    background-color: #fff !important;
    padding: 15px 25px !important;
    border-radius: 5px;
}

.counter-box .inner {
    padding: 0;
}

/* .counter-box .inner h3 {
    color: #ffffff;
    font-size: 20px;
}*/

.counter-box .inner p {
    color: #8d8d8d;
}

.counter-box .icon, .counter-box .icon:hover {
    float: left;
    right: 265px;
    top: 25px;
    font-size: 0 !important;
}

.counter-box .icon i {
    font-size: 38px;
    /* padding: 16px; */
    /* background-color: rgb(55, 129, 255); */
    border-radius: 5px;
    /* width: 60px; */
    /* height: 60px; */
    color: #3781ff;
}

.bg-yellow.counter-box {
    background-image: linear-gradient(45deg, #FFD54F 0%, #FFC107 90%);
}

.bg-aqua.counter-box {
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
}

/*.bg-red.counter-box {
    background: #fff !important;
}*/

.bg-green.counter-box {
    background-image: linear-gradient(45deg, #63d065 0%, #34a537 90%);
}

.modal-footer {
    border-top: 0px;
}

/*Footer Styles*/
/************************/
footer.main-footer {
    border-top: 1px solid #e6e6e6;
    margin-left: 250px;
    float: left;
    width: 100%;
}

/*Global From Styles*/
/************************/

.input-group {
    width: 100%;
    margin-top: 10px;
}

.input-group .form-control {
    border-radius: 3px !important;
    background: #9190940f;
    padding: 0 10px;
    border: 2px solid #3f51b51f;
    height: 45px;
}

.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.form-group label {
    color: #818181;
}

.text-red {
    color: #dd4b39 !important;
    font-size: 12px;
    font-weight: bold;
}

.input-group .form-control {
    border-radius: 3px !important;
}

div#image-holder {
    margin: 20px 0;
    padding: 0;
    float: left;
    width: 100%;
}

div#image-holder img {
    width: 350px;
}

.image-holder-col{
    visibility: hidden;
    height:0;
}

span.btn.btn-file.btn-default.photo_input {
    color: #a5a5a5;
}

input#photo {
    visibility: hidden;
    height: 0;
    width: 0;
}



/****************************************/
/****************************************/

/* DataTable Style */
/*********************/

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    border-radius: 2px;
    border: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    padding: 0 !important;
    border-radius: 2px;
    border: 0 !important;
}

.btn.btn-default.buttons-print.btn-primary.mRight10 {
    background-color: #FF5722 !important;
}

.btn.btn-default.buttons-copy.buttons-html5.btn-primary.mRight10 {
    background-color: #FF9800 !important;
}

.btn.btn-default.buttons-pdf.buttons-html5.btn-primary.mRight10 {
    background-color: #9C27B0 !important;
}

.btn.btn-default.buttons-excel.buttons-flash.btn-primary.mRight10 {
    background-color: #03A9F4 !important;
}

.btn.btn-default.buttons-csv.buttons-html5.btn-primary.mRight10 {
    background-color: #009688 !important;
}

button.btn.btn-default.buttons-excel.buttons-html5.btn-primary.mRight10 {
    background-color: #03A9F4 !important;
}

.dt-buttons.btn-group {
    margin: 15px 10px !important;
}

.dt-buttons.btn-group .btn.btn-default.mRight10 {
    border: 0;
    box-shadow: none;
    padding: 9px 19px;
    color: #fff;
    font-size: 13px;
    background-color: #03A9F4;
}

button.btn.btn-default.btn-primary {
    background: rgba(204, 204, 204, 0) !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-right: 13px;
}

div.dataTables_wrapper div.dataTables_filter input.form-control.input-sm {
    border-radius: 4px;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0 !important;
    font-weight: 600 !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #f4f4f4 !important;
}

table.dataTable thead .sorting {
    background: none !important;
}

table.dataTable thead .sorting:after {
    font-size: 12px !important;
}

table.dataTable thead .sorting_asc:after {
    font-size: 12px !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: #757575;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
    padding: 7px 17px !important;
}

.dataTables_wrapper span.badge {
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: normal;
    font-size: 11px;
    margin: 0 5px 3px 0;
    float: left;
}

.dataTables_wrapper span button.badge {
    border: 0;
    border-radius: 100%;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: normal;
    font-size: 11px;
    margin: 0 5px 3px 0;
    float: left;
}

.dataTables_wrapper form {
    float: left;
}

.dataTables_wrapper span.badge a {
    color: #fff !important;
}

/**************************************/
/**************************************/

/*Global Box Style*/
/***********************/

.bg-blue {
    background-color: #03A9F4 !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #FF5722 !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #FFC107 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #2196F3 !important;
}




/** Purchse/Sale Chart **/
/* .box.purchasensale {
    background-image: linear-gradient(45deg, rgb(67, 130, 255) 0%, rgb(68, 129, 255) 90%);
    /* box-shadow: 7px 7px 0px 0px #608bf9; */
/* }

.box.purchasensale h2, .box.purchasensale h3{
    color: #ffffff;
} */

/** Income/Expense Chart **/
/* .box.incomenexpanse {
    background-image: linear-gradient(45deg, rgb(67, 130, 255) 0%, rgb(68, 129, 255) 90%); */
    /* box-shadow: 7px 7px 0px 0px #608bf9; */
/* }

.box.incomenexpanse h2, .box.incomenexpanse h3{
    color: #ffffff;
} */


/** Pursale Cal **/
/* .box.purchaseCal {
    background-image: linear-gradient(45deg, rgb(69, 127, 255) 0%, rgb(76, 133, 255) 90%);
} */

/* .box.purchaseCal .fc-unthemed th, .box.purchaseCal .fc-unthemed td, .box.purchaseCal .fc-unthemed thead, .box.purchaseCal .fc-unthemed tbody, .box.purchaseCal .fc-unthemed .fc-divider, .box.purchaseCal .fc-unthemed .fc-row, .box.purchaseCal .fc-unthemed .fc-content, .box.purchaseCal .fc-unthemed .fc-popover, .box.purchaseCal .fc-unthemed .fc-list-view, .box.purchaseCal .fc-unthemed .fc-list-heading td {
    border-color: rgba(93, 93, 93, 0.2);
}

.box.purchaseCal .fc-widget-header {
    background: rgba(250, 250, 250, 0);
} */

/* .box.purchaseCal .fc-unthemed td.fc-today {
    background: #4975ed;
} */

/* .box.purchaseCal h2, .box.purchaseCal h3{
    color: #ffffff;
} */

.box.purchaseCal td.fc-event-container {
    background-color: #3781ff !important;
}
.box.purchaseCal td.fc-event-container span.fc-title {
    color: #ffffff;
}

.box.purchaseCal td.fc-event-container a:hover {
    background: rgb(55, 129, 255);
}

/*****************************************************/


/** Sale Cal **/
/* .box.saleCal {
    background-image: linear-gradient(45deg, rgb(67, 130, 255) 0%, rgb(68, 129, 255) 90%);
} */

/* .box.saleCal .fc-unthemed th, .box.saleCal .fc-unthemed td, .box.saleCal .fc-unthemed thead, .box.saleCal .fc-unthemed tbody, .box.saleCal .fc-unthemed .fc-divider, .box.saleCal .fc-unthemed .fc-row, .box.saleCal .fc-unthemed .fc-content, .box.saleCal .fc-unthemed .fc-popover, .box.saleCal .fc-unthemed .fc-list-view, .box.saleCal .fc-unthemed .fc-list-heading td {
   border-color: rgba(93, 93, 93, 0.2);
}

.box.saleCal .fc-widget-header {
    background: rgba(250, 250, 250, 0);
} */

/* .box.saleCal .fc-unthemed td.fc-today {
    background: #4975ed;
} */

/* .box.saleCal h2, .box.saleCal h3{
    color: #ffffff;
} */

.box.saleCal td.fc-event-container {
    background-color: #3781ff !important;
}
.box.saleCal td.fc-event-container span.fc-title {
    color: #ffffff;
}

.box.saleCal td.fc-event-container a:hover {
    background: rgb(55, 129, 255);
}

/*************************************************/

/** Income Cal **/
/* .box.incomeCal {
    background-image: linear-gradient(45deg, rgb(67, 130, 255) 0%, rgb(68, 129, 255) 90%);
} */

/* .box.incomeCal .fc-unthemed th, .box.incomeCal .fc-unthemed td, .box.incomeCal .fc-unthemed thead, .box.incomeCal .fc-unthemed tbody, .box.incomeCal .fc-unthemed .fc-divider, .box.incomeCal .fc-unthemed .fc-row, .box.incomeCal .fc-unthemed .fc-content, .box.incomeCal .fc-unthemed .fc-popover, .box.incomeCal .fc-unthemed .fc-list-view, .box.incomeCal .fc-unthemed .fc-list-heading td {
        border-color: rgba(93, 93, 93, 0.2);
}

.box.incomeCal .fc-widget-header {
    background: rgba(250, 250, 250, 0);
} */

/* .box.incomeCal .fc-unthemed td.fc-today {
    background: #4975ed;
} */

/* .box.incomeCal h2, .box.incomeCal h3{
    color: #ffffff;
} */

.box.incomeCal td.fc-event-container {
    background-color: #3781ff !important;
}
.box.incomeCal td.fc-event-container span.fc-title {
    color: #ffffff;
}

.box.incomeCal td.fc-event-container a:hover {
    background: rgb(55, 129, 255);
}

/*************************************************/

/** expenseCal Cal **/
/* .box.expenseCal {
    background-image: linear-gradient(45deg, rgb(69, 127, 255) 0%, rgb(76, 133, 255) 90%);
} */

/* .box.expenseCal .fc-unthemed th, .box.expenseCal .fc-unthemed td, .box.expenseCal .fc-unthemed thead, .box.expenseCal .fc-unthemed tbody, .box.expenseCal .fc-unthemed .fc-divider, .box.expenseCal .fc-unthemed .fc-row, .box.expenseCal .fc-unthemed .fc-content, .box.expenseCal .fc-unthemed .fc-popover, .box.expenseCal .fc-unthemed .fc-list-view, .box.expenseCal .fc-unthemed .fc-list-heading td {
        border-color: rgba(93, 93, 93, 0.2);
}

.box.expenseCal .fc-widget-header {
    background: rgba(250, 250, 250, 0);
} */

/* .box.expenseCal .fc-unthemed td.fc-today {
    background: #4975ed;
} */

/* .box.expenseCal h2, .box.expenseCal h3{
    color: #ffffff;
} */

.box.expenseCal td.fc-event-container {
    background-color: #3781ff !important;
}
.box.expenseCal td.fc-event-container span.fc-title {
    color: #ffffff;
}

.box.expenseCal td.fc-event-container a:hover {
    background: rgb(55, 129, 255);
}

/*************************************************/

.box{
    border-color: #fff !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
    /*background-image: linear-gradient(45deg, #4878ff 0%, #565eff 90%);*/
    /*box-shadow: 7px 7px 0px 0px #545eff;*/
}

.small-box {
    padding: 25px !important;
}

.small-box h3 {
    font-size: 20px;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
    background-image: linear-gradient(45deg, #3781ff 0%, #5951ff 90%);
    color: #fff !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box-header.with-border h3 {
    color: #fff !important;
}

.box-header.with-border .btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 90%);
    border: 0px solid #4483ff;
    padding: 11px 23px;
    color: #4481ff;
}



.box-header{
    padding: 20px 30px;
}

.box-title.right {
    float: right;
}

.pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
    background-color: #33a9f4;
    border-color: #33a9f4;
}

.profile.widget-user-image {
    position: absolute;
    z-index: 10;
    left: 0;
    top: -150px;
}

.widget-user-2 .widget-user-image img {
    width: 134px;
    margin: 0 28px 0 0;
    border-radius: 80px;
    border: 4px solid #ffffff;
}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 0;
    color: #fff;
}


/***********Access Page Styles*********/
/**************************************/

.content-wrapper.access-page {
    margin-left: 0 !important;
    min-height: 500px !important;
}

.main-footer.access-page{
    margin-left: 0 !important;
}

.skin-blue .main-header.access-page .logo {
    background-color: #33a9f4 !important;
    font-family: 'farsi', serif !important;
    width: auto;
    z-index: 10000;
    position: absolute;
    font-size: 16px;
}

.content-wrapper.access-page .content {
    padding: 0 !important;
}

/*********** Login & Registration **********/

.access {
}

.access .customLogo {
    margin: 2vh 0 !important;
}

.access-page .box {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    margin: 10vh 0;
    border: 0;
}

.access h3.box-title {
    margin-bottom: 20px;
    color: #7a6e6e;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
}

.access .social-login {
    padding: 20px;
    float: left;
    width: 100%;
}

.access p.social-icon {
    padding: 8px 22% 0;
}

.access input.form-control {
    border-radius: 3px;
    height: 40px;
}

/********************************************************/
/********************************************************/
/***************** Dashboard Full Calendar *************/
/*.fc-basic-view .fc-body .fc-row {
    height: 80px !important;
}*/

.fc-view-container {
    height: 65vh;
    overflow-y: scroll;
}

.fc-scroller.fc-day-grid-container {
    height: auto !important;
}

th.fc-day-header.fc-widget-header {
    padding: 15px 0;
}

.fc-event {
    border-radius: 0px;
    border: 0px solid #f99a9a;
    padding: 1px 5px !important;
    background-color: rgba(255, 255, 255, 0);
}

/*.fc-unthemed td.fc-today {
    background: #9e6fb1;
    color: #fff;
}*/

/*.fc-widget-header {
    background: #9e6fb1;
    color: #fff;
}*/

/*.fc-widget-header:first-of-type, .fc-widget-content:first-of-type {
    border-left: 1px solid #9e6eb1;
    border-right: 1px solid #9e6eb1;
}

.fc-widget-header:last-of-type, .fc-widget-content:last-of-type {
    border-right: 1px solid #9e6eb1;
}*/

/*.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #9e6eb1;
}*/

.fc-left h2 {
    font-size: 15px;
    margin-top: 5px;
}

.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number {
    padding: 10px 0 0 15px;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: left;
}

.fc-day-number {
    font-size: 15px;
}

.box.box-solid .box-header .btn:hover, .box.box-solid .box-header a:hover {
    background: rgb(158, 110, 177);
}

/********************************************************/

/*Redesign Whole Page*/

.content {
    padding: 20px !important;
}



/*============================================================================================*/
/* MEDIA QUERIES max-width 480px - MOBILE PORTRAIT  */
/*============================================================================================*/
@media (max-width: 768px) {

.main-header.access-page .logo .logo-lg {
    display: none;
}

}
