/****************************************************************/
/****************************************************************/
/* New Responsive Styles */
/****************************************************************/
/****************************************************************/


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* Dashboard Counter Box */

    .nav-tabs-custom.homepage-counter .tab-content {
        padding: 0;
        float: left;
        background: none;
    }

    .nav-tabs-custom.homepage-counter #today .col-lg-4 .col-md-12.pieChart {
        height: auto !important;
        width: auto !important;
        right: 7% !important;
    }
    .nav-tabs-custom.homepage-counter #today .col-lg-8 {
        margin-right: 18%;
    }
    .nav-tabs-custom.homepage-counter .col-lg-4 .col-md-12.pieChart {
        height: auto !important;
        width: auto !important;
        right: auto !important;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


    .main-header {
        border-bottom: 0px solid #e6e6e6;
        margin-left: 0;
    }

    .skin-blue .main-header .navbar .sidebar-toggle.mobile {
        color: #4384ff;
        padding-top: 18px;
        display: block !important;
    }

    .skin-blue .main-header .navbar {
        margin-left: 0 !important;
    }

    .content-wrapper {
        margin-left: 0px;
        float: left;
        width: 100% !important;
    }

    .content {
        padding: 8px !important;
    }

    h4.company-title {
        display: none;
    }

    .main-sidebar {
        width: 230px;
        margin: 60px 0 0 0;
        padding-top: 0;
        transform: unset !important;
        display: none;
    }

    .counter-box .inner h3 {
        font-size: 15px;
    }

    .counter-box .inner p {
        font-size: 10px;
    }

    footer.main-footer {
        margin-left: 0;
    }

    .dt-buttons.btn-group .btn.btn-default.mRight10 {
        padding: 5px 6px;
        font-size: 9px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button a {
        padding: 6px 15px !important;
        margin-top: 7px;
        font-size: 12px;
    }

    div.dataTables_wrapper div.dataTables_filter input.form-control.input-sm {
        border-radius: 4px;
        width: 78%;
        margin-bottom: 5px;
        font-size: 12px !important;
    }

    .dataTables_wrapper span.badge {
        width: auto;
    }

    .dataTables_wrapper form {
        float: left;
        width: auto;
    }

    .dataTable tbody tr.child span.dtr-title {
        float: left;
    }

    .dataTable tbody tr.child ul.dtr-details li {
        float: left;
        width: 100%;
    }

    .dataTables_wrapper span button.badge {
        width: 100%;
    }

    .profile.widget-user-image {
        position: relative;
        z-index: 10;
        right: 0;
        top: 0;
        margin: 15px 0;
        float: left;
    }

    .tab-content table td {
        width: 100%;
        float: left;
    }

    /* Dashboard Counter Box */

    .nav-tabs-custom.homepage-counter .tab-content {
        padding: 0;
        float: left;
        background: none;
    }

    .nav-tabs-custom.homepage-counter #today .col-lg-4 .col-md-12.pieChart {
        height: auto !important;
        width: auto !important;
        right: 7% !important;
    }
    .nav-tabs-custom.homepage-counter #today .col-lg-8 {
        margin-right: 18%;
    }
    .nav-tabs-custom.homepage-counter .col-lg-4 .col-md-12.pieChart {
        height: auto !important;
        width: auto !important;
        right: auto !important;
    }

    /* POS Style */
    .pos .posCartTable th, .pos .posCartTable tr, .pos .posCartTable td{
        float:left;
        width: 100%;
    }
    .pos .actionBar button{
        margin-bottom: 20px;
    }



}
